* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-color: #f1f5f8;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem 2rem;
}

.alert {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.86rem;
  border-radius: 3px;
  padding: 0.5rem;
}

.mainSection {
  width: 550px;
  /* min-height: 200px; */
  transition: all 0.3s linear;
  padding: 1rem;
  text-transform: capitalize;
  background-color: white;
  box-shadow: 0 0 20px rgb(211, 211, 211);
  border-radius: 6px;
}

.inputSection {
  /* border: 2px solid red; */
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
}

.form {
  width: 100%;
  padding: 0.7rem;
  display: flex;
}

.inp {
  width: 70%;
  padding: 0.45rem 0.8rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  background-color: #f1f5f8;
}

.btn {
  width: 30%;
  border: none;
  background-color: #a5d5f8;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: #49a6e9;
  color: white;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: 0.2rem auto;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
}

.item:hover {
  background-color: #f1f5f8;
}

.actionBtn {
  margin: 0 0.2rem;
  background-color: none;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

.actionBtn:hover {
  opacity: 1;
}

.editBtn {
  color: #6be675;
}

.deleteBtn {
  color: #bb2525;
}

.clearBtn {
  width: fit-content;
  margin: 0.2rem auto;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  text-align: center;
  color: red;
  cursor: pointer;
  letter-spacing: 1px;
}
